.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: .1 1 10%;
  background-color: #222;
  padding: 8px;
  color: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
