.GameStats {
  width: 510px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.GameStats-Wrapper {
  display: flex;
}

.GameStats-Message {
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 500;
  margin-right: 8px;
}
