body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #eaeaea;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
