.TileGrid {
  display: flex;
  flex-wrap: wrap;
  width: calc(60px * 6 + 5 * 32px);
  min-height: calc(60px * 5 + 4 * 32px);
}

.TileGrid > .Tile-container {
  margin-right: 32px;
  margin-bottom: 32px;
}

.TileGrid > .Tile-container:nth-child(6n) {
  margin-right: 0;
}

.TileGrid > .Tile-container:nth-last-child(6n) {
  margin-bottom: 0;
}

.TileGrid > .Tile-container .Tile-card {
  border-top: 10px solid #E9E1C9;
  border-left: 10px solid #E9E1C9;
  border-radius: 15px;
}

.TileGrid > .Tile-container .Tile-card:last-child {
  border-bottom: 10px solid #E9E1C9;
  border-right: 10px solid #E9E1C9;
}
