.Tile-container {
  width: 60px;
  height: 60px;
  position: relative;
  perspective: 800px;
}

.Tile-container .Tile-card {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #66A3C6;
  transform-style: preserve-3d;
  transition: transform .280s;
  box-shadow: 4px 4px 2px #CEC5AA;
}

.Tile-container .Tile-card figure {
  margin: 0;
  display: block;
  position: absolute;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.Tile-container .Tile-card .back {
  transform: rotateY( 180deg );
}

.Tile-container .Tile-card.flipped {
  transform: rotateY( 180deg );
  box-shadow: -4px 4px 2px #CEC5AA;
}
